@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<NLDotNet.DNN.Modules.MVCTest.Models.Item>>

@using System.Globalization;
@using System.Collections.Generic
@using DotNetNuke.Web.Mvc.Helpers

@{var itemIndice = 0; }
<div id="Item-@Dnn.ModuleContext.ModuleId">
    <div class="dnnForm dnnEditBasicSettings sdfilinfo grey" id="dnnEditBasicSettings">
        <div class="dnnFormExpandContent dnnRight "><a href="#">@Dnn.LocalizeString("ExpandAll")</a></div>

        <h2 id="dnnSitePanel-BasicSettings" class="dnnFormSectionHead dnnClear">
            <a href="#" class="dnnSectionExpanded">@Dnn.LocalizeString("ItemsActive")</a>
        </h2>
        <fieldset>
            <div class="dnnFormItem sdfilinfoitems items-to-active">

                @if (Model.Count() == 0)
                {
                <ul>
                    <li>
                        <div>
                            <div class="sdnew">
                                <a href="@Url.Action("EditItem", "Item", new { ctl = "EditItem", itemId = -1 })" class="dnnPrimaryAction">@Dnn.LocalizeString("AddNewItem")</a>
                            </div>
                        </div>
                    </li>
                </ul>
                }
                else
                {
                <ul>
                    @foreach (var item in Model)
                    {
                    <li>
                        <div class="sdfilinfoitem">
                            <div class="sdfilinfotitre">
                                <h2 title="@item.ItemName">@item.ItemName</h2>
                            </div>
                            <div class="sdfilinfodesc">
                                <p>@item.ItemDescription</p>
                            </div>
                            <div class="sdfilinfopub">
                                <fieldset>
                                    <legend>Publication :</legend>
                                    <ul class="sdfilinfodatetime">
                                        <li>
                                            @(item.ItemPubDateStart.HasValue ? new HtmlString(String.Format("<span>du {0} </span>", item.ItemPubDateStart.Value.ToString("dd/MM/yyyy HH:mm"))) : new HtmlString("<span>du <i>indéterminé</i></span>"))
                                        </li>
                                        <li>
                                            @(item.ItemPubDateEnd.HasValue ? new HtmlString(String.Format("<span>au {0} </span>", item.ItemPubDateEnd.Value.ToString("dd/MM/yyyy HH:mm"))) : new HtmlString("<span>du <i>indéterminé</i></span>"))
                                        </li>
                                    </ul>
                                </fieldset>
                            </div>
                            <div class="sdfilinfobtn">
                                <ul class="sdfilinfoaction">
                                    <li>
                                        <button type="submit" class="dnnSecondaryAction red" name="submitItem_@itemIndice" id="submitItem_@itemIndice" value="ActiveItem" postaction="@Html.Raw(@Url.ModuleContext.NavigateUrl(Url.ModuleContext.TabId, "Edit", true, "mid", Url.ModuleContext.ModuleId.ToString(), "action", "ActivItem", "itemid",item.ItemId.ToString()))" jqueryaction="click">@Dnn.LocalizeString("DesactiveItem.Text")</button>
                                    </li>
                                    <li>                                        
                                        <a href="@Url.Action("EditItem", "Item", new { ctl = "EditItem", itemId = item.ItemId })" class="dnnSecondaryAction">@Dnn.LocalizeString("EditItem")</a>
                                    </li>
                                </ul>
                                <input type="hidden" name="ItemId_@itemIndice" id="ItemId_@itemIndice" value="@item.ItemId" />
                            </div>
                        </div>
                    </li>
                        itemIndice++;
                    }

                    <li>
                        <div class="sdfilinfoitem">
                            <div class="sdnew">
                                <a href="@Url.Action("EditItem", "Item", new { ctl = "EditItem", itemId = -1 })" class="dnnPrimaryAction">@Dnn.LocalizeString("AddNewItem")</a>
                            </div>
                        </div>
                    </li>
                </ul>
                }
            </div>
        </fieldset>

        <h2 id="dnnSitePanel-FilInfoAPublier" class="dnnFormSectionHead dnnClear">
            <a href="#" class="dnnSectionExpanded">@Dnn.LocalizeString("ItemsToActive")</a>
        </h2>
        <fieldset>
            <div class="dnnFormItem sdfilinfoitems items-to-actives">
            @if (((IEnumerable<NLDotNet.DNN.Modules.MVCTest.Models.Item>)ViewBag.itemsToActive).Count() == 0)
            {
                <ul>
                    <li>
                        <div>
                            <div class="sdnew">
                                <a href="@Url.Action("EditItem", "Item", new { ctl = "EditItem", itemId = -1 })" class="dnnPrimaryAction">@Dnn.LocalizeString("AddNewItem")</a>
                            </div>
                        </div>
                    </li>
                </ul>
            }
            else
            {
                <ul>
                    @foreach (var item in (IEnumerable<NLDotNet.DNN.Modules.MVCTest.Models.Item>)ViewBag.itemsToActive)
                    {
                        <li>
                            <div class="sdfilinfoitem">
                                <div class="sdfilinfotitre">
                                    <h2 title="@item.ItemName">@item.ItemName</h2>
                                </div>
                                <div class="sdfilinfodesc">
                                    <p>@item.ItemDescription</p>
                                </div>
                                <div class="sdfilinfopub">
                                    <fieldset>
                                        <legend>Publication :</legend>
                                        <ul class="sdfilinfodatetime">
                                            <li>
                                                @(item.ItemPubDateStart.HasValue ? new HtmlString(String.Format("<span>du {0} </span>", item.ItemPubDateStart.Value.ToString("dd/MM/yyyy HH:mm"))) : new HtmlString("<span>du <i>indéterminé</i></span>"))
                                            </li>
                                            <li>
                                                @(item.ItemPubDateEnd.HasValue ? new HtmlString(String.Format("<span>au {0} </span>", item.ItemPubDateEnd.Value.ToString("dd/MM/yyyy HH:mm"))) : new HtmlString("<span>du <i>indéterminé</i></span>"))
                                            </li>
                                        </ul>
                                    </fieldset>
                                </div>
                                <div class="sdfilinfobtn">
                                    <ul class="sdfilinfoaction">
                                        <li>
                                            @*<a href="@Url.Action("ActiveItem", "Item", new { ctl = "EditItem", itemId = item.ItemId })" class="dnnSecondaryAction green">@Dnn.LocalizeString("ActiveItem.Text")</a>*@
                                            <button type="submit" class="dnnSecondaryAction green" name="submitItem_@itemIndice" id="submitItem_@itemIndice" value="ActiveItem" postaction="@Html.Raw(@Url.ModuleContext.NavigateUrl(Url.ModuleContext.TabId, "Edit", true, "mid", Url.ModuleContext.ModuleId.ToString(), "action", "ActivItem", "itemid",item.ItemId.ToString()))" jqueryaction="click">@Dnn.LocalizeString("ActiveItem.Text")</button>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("EditItem", "Item", new { ctl = "EditItem", itemId = item.ItemId })" class="dnnSecondaryAction">@Dnn.LocalizeString("EditItem")</a>
                                        </li>
                                    </ul>
                                </div>
                                @*@Html.HiddenFor(m => item.ItemId)*@
                                <input type="hidden" name="ItemId_@itemIndice" id="ItemId_@itemIndice" value="@item.ItemId" />
                            </div>
                        </li>
                        itemIndice++;
                    }

                    <li>
                        <div class="sdfilinfoitem">
                            <div class="sdnew">
                                <a href="@Url.Action("EditItem", "Item", new { ctl = "EditItem", itemId = -1 })" class="dnnPrimaryAction">@Dnn.LocalizeString("AddNewItem")</a>
                            </div>
                        </div>
                    </li>
                </ul>
            }
            </div>

            @*@Html.HiddenFor(m => m.ModuleId)*@
        </fieldset>

        <h2 id="dnnSitePanel-FilInfoAPublier" class="dnnFormSectionHead dnnClear">
            <a href="#" class="dnnSectionExpanded">@Dnn.LocalizeString("ItemsArchive")</a>
        </h2>
        <fieldset>
            <div class="dnnFormItem sdfilinfoitems items-archives">
                @if (((IEnumerable<NLDotNet.DNN.Modules.MVCTest.Models.Item>)ViewBag.itemsArchive).Count() == 0)
            {
                    <ul>
                        <li>
                            <div>
                                <div class="sdnew">
                                    <a href="@Url.Action("EditItem", "Item", new { ctl = "EditItem", itemId = -1 })" class="dnnPrimaryAction">@Dnn.LocalizeString("AddNewItem")</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                }
                else
                {
                    <ul>
                        @*@foreach (var item in (IEnumerable<NLDotNet.DNN.Modules.MVCTest.Models.Item>)ViewBag.itemsArchive)*@                        
                        @for (var i = 0; i < ViewBag.itemsArchive.Length; i++)
                        {
                            var item = (NLDotNet.DNN.Modules.MVCTest.Models.Item)ViewBag.itemsArchive[i];
                            <li>
                                <div class="sdfilinfoitem">
                                    <div class="sdfilinfotitre">
                                        <h2 title="@item.ItemName">@item.ItemName</h2>
                                    </div>
                                    <div class="sdfilinfodesc">
                                        <p>@item.ItemDescription</p>
                                    </div>
                                    <div class="sdfilinfopub">
                                        <fieldset>
                                            <legend>Publication :</legend>
                                            <ul class="sdfilinfodatetime">
                                                <li>
                                                    @(item.ItemPubDateStart.HasValue ? new HtmlString(String.Format("<span>du {0} </span>", item.ItemPubDateStart.Value.ToString("dd/MM/yyyy HH:mm"))) : new HtmlString("<span>du <i>indéterminé</i></span>"))
                                                </li>
                                                <li>
                                                    @(item.ItemPubDateEnd.HasValue ? new HtmlString(String.Format("<span>au {0} </span>", item.ItemPubDateEnd.Value.ToString("dd/MM/yyyy HH:mm"))) : new HtmlString("<span>du <i>indéterminé</i></span>"))
                                                </li>
                                            </ul>
                                        </fieldset>
                                    </div>
                                    <div class="sdfilinfobtn">
                                        <ul class="sdfilinfoaction">
                                            <li>
                                                @*<a href="@Url.Action("DeleteItem", "Item", new {ctl = "Edit", itemId = item.ItemId })" class="dnnSecondaryAction red deleteitem">@Dnn.LocalizeString("DeleteItem.Text")</a>*@
                                                <button type="submit" class="dnnSecondaryAction red" name="submitItem_@itemIndice" id="submitItem_@itemIndice" value="DeleteItem" postaction="@Html.Raw(@Url.ModuleContext.NavigateUrl(Url.ModuleContext.TabId, "Edit", true, "mid", Url.ModuleContext.ModuleId.ToString(), "action", "DeleItem", "itemid",item.ItemId.ToString()))" jqueryaction="click">@Dnn.LocalizeString("DeleteItem.Text")</button>                                                
                                            </li>
                                            <li>
                                                <a href="@Url.Action("EditItem", "Item", new { ctl = "EditItem", itemId = item.ItemId })" class="dnnSecondaryAction">@Dnn.LocalizeString("EditItem")</a>
                                            </li>
                                        </ul>
                                    </div>
                                    @*@Html.HiddenFor(m => item.ItemId)*@
                                    <input type="hidden" name="ItemId_@itemIndice" id="ItemId_@itemIndice" value="@item.ItemId" />
                                </div>
                            </li>
                            itemIndice++;                            
                        }

                        <li>
                            <div class="sdfilinfoitem">
                                <div class="sdnew">
                                    <a href="@Url.Action("EditItem", "Item", new { ctl = "EditItem", itemId = -1 })" class="dnnPrimaryAction">@Dnn.LocalizeString("AddNewItem")</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                }
            </div>
        </fieldset>

    </div>
    @*<button type="submit" class="dnnPrimaryAction">@Dnn.LocalizeString("Submit")</button>*@
    <a id="cancelEdit" href="#" class="dnnSecondaryAction">@Dnn.LocalizeString("Cancel")</a>
</div>

<script type="text/javascript">
    /*globals jQuery, window, Sys */
    (function($, Sys) {
        function dnnEditBasicSettings() {
            $('#dnnEditBasicSettings').dnnPanels();
            $('#dnnEditBasicSettings .dnnFormExpandContent a').dnnExpandAll({ expandText: '@Dnn.LocalizeString("ExpandAll")', collapseText: '@Dnn.LocalizeString("CollapseAll")', targetArea: '#dnnEditBasicSettings' });
        }
        $(function() {
            $('#cancelEdit').click(function() { dnnModal.closePopUp(false); });
            dnnEditBasicSettings();
            Sys.WebForms.PageRequestManager.getInstance().add_endRequest(function() {
                dnnEditBasicSettings();
            });
        });
        //$('.items-actives button[type="submit"]').each(function (_index, _obj) {
        //    $(_obj).on('click', function (e) { $(_obj).val("ActiveItem"); });
        //});
        //$('.items-to-actives button[type="submit"]').each(function (_index, _obj) {
        //    $(_obj).on('click', function (e) { $(_obj).val("ActiveItem"); });
        //});
        //$('.items-archives button[type="submit"]').each(function (_index, _obj) {
        //    $(_obj).on('click', function (e) { $(_obj).val("DeleteItem"); });
        //});
        $(function () {
            $('form').find('[postaction]').each(function (_index,_obj) {
                var postaction = $(_obj).attr('postaction');
                var evt = $(_obj).attr('jqueryaction');
                $(_obj).on(evt, function (e) {
                    e.PreventDefault;
                    $('form').attr('action', postaction);
                    $('form').submit();                    
                });
                $(_obj).removeAttr('postaction').removeAttr('jqueryaction');
            });
        });
    }(jQuery, window.Sys));        
</script>
