@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<NLDotNet.DNN.Modules.MVCTest.Models.Item>

@using System.Globalization;
@using System.Collections.Generic
@using DotNetNuke.Web.Mvc.Helpers
@using Telerik.Web.UI
@using NLDotNet.DNN.Modules.MVCTest.Components.Web.Helpers

<div id="EditItem-@Dnn.ModuleContext.ModuleId">
    <div class="dnnForm dnnEditBasicSettings" id="dnnEditItemContent">

        @*@Html.ValidationSummary(true)*@
        
        @*<asp:PlaceHolder ID="phEditItem" runat="server">*@
        <div class="dnnFormExpandContent dnnRight">
            <a href="">@Dnn.LocalizeString("ExpandAll")</a>
        </div>

        <h2 id="dnnSitePanel-ItemBasicSettings" class="dnnFormSectionHead dnnClear">
            <a href="" class="dnnSectionExpanded">
                @Dnn.LocalizeString("EditItemBasicSettings")
            </a>
        </h2>
        <fieldset>
            <div class="dnnFormItem">
                @Html.DnnLabelFor(m => Model.ItemName, Dnn.LocalizeString("EditItemName.Text"), Dnn.LocalizeString("EditItemName.Help"))
                @Html.TextBoxFor(m => Model.ItemName, new { @class = "DnnRequiredFieldValidator" })
                @Html.ValidationMessageFor(m => Model.ItemName, Dnn.LocalizeString("EditItemName.ErrorMessage"), new { @class = "dnnFormMessage dnnFormError" })
                <input type="hidden" class="ValidationMessageFor" value="@Dnn.LocalizeString("EditItemName.ErrorMessage")"/>
            </div>
            <div class="dnnFormItem">
                @Html.DnnLabelFor(m => Model.ItemDescription, Dnn.LocalizeString("EditItemDescription.Text"), Dnn.LocalizeString("EditItemDescription.Help"))
                @Html.TextBoxFor(m => Model.ItemDescription)
            </div>
            <div class="dnnFormItem">
                @Html.DnnLabelFor(m => Model.ItemPubDateStart, Dnn.LocalizeString("EditItemPubDateStart.Text"), Dnn.LocalizeString("EditItemPubDateStart.Help"))
                @*@Html.TextBoxFor(m => Model.ItemPubDateStart
                , String.Format("{0:D}", Model.ItemPubDateStart.Value.ToString())
                , new { @class = "textboxdate", type = "datetime" }
                )*@
                @Html.EditorFor(m => Model.ItemPubDateStart)
                <telerik:RadDateTimePicker id="ddpDebPub" runat="server" ViewStateMode="Disabled"></telerik:RadDateTimePicker>                
            </div>
            <div class="dnnFormItem">
                @Html.DnnLabelFor(m => Model.ItemPubDateEnd, Dnn.LocalizeString("EditItemPubDateEnd.Text"), Dnn.LocalizeString("EditItemPubDateEnd.Help"))
                @Html.EditorFor(m => Model.ItemPubDateEnd)                
            </div>

            @Html.HiddenFor(m => Model.ItemId)
        </fieldset>

        <h2 id="dnnSitePanel-ItemHTMLTextContent" class="dnnFormSectionHead dnnClear">
            <a href="" class="dnnSectionExpanded">
                @Dnn.LocalizeString("ItemHTMLTextContent")
            </a>
        </h2>
        <fieldset>
            <div class="dnnFormItem">
                <dnn:texteditor id="txtContent" runat="server" height="400" width="100%" ChooseMode="false"></dnn:texteditor>
            </div>
        </fieldset>


@*</asp:PlaceHolder>*@

</div>
    <button type="submit" class="dnnPrimaryAction">@Dnn.LocalizeString("Submit")</button>
    <a href="@Url.Action("Edit", "Item", new {ctl = "Edit"})" class="dnnSecondaryAction">@Dnn.LocalizeString("Cancel")</a>
</div>
 
<link href="@Url.Content("~/DesktopModules/MVC/MVCTest/Content/jquery.datetimepicker.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/DesktopModules/MVC/MVCTest/Scripts/jquery.datetimepicker.js")" type="text/javascript"></script>
<script type="text/javascript">

    /*globals jQuery, window, Sys */
    (function($, Sys) {
        function dnnEditBasicSettings() {
            $('#dnnEditBasicSettings').dnnPanels();
            $('#dnnEditBasicSettings .dnnFormExpandContent a').dnnExpandAll({ expandText: '@Dnn.LocalizeString("ExpandAll")', collapseText: '@Dnn.LocalizeString("CollapseAll")', targetArea: '#dnnEditBasicSettings' });
        }
        function RequiredFieldValidator(source) {
            if ($(source).length == 0) { return true; }
            if (/^\s*$/.test($(source).val())) { return false; }
            return true;
        }
        $(function() {
            $('#cancelEdit').click(function() { dnnModal.closePopUp(false); });
            dnnEditBasicSettings();
            Sys.WebForms.PageRequestManager.getInstance().add_endRequest(function() {
                dnnEditBasicSettings();
            });
        });
        $(function() {
            $('form').on('submit', function (e) {
                e.preventDefault();
                var isValid = true;
                $('#EditItem-@Dnn.ModuleContext.ModuleId input.DnnRequiredFieldValidator').each(function (_index, _obj) {
                    isValid = RequiredFieldValidator(_obj);
                    if (!isValid) {
                        if ($(_obj).next('span.dnnFormMessage.dnnFormError').length == 0) {
                            $(_obj).after('<span class=\"dnnFormMessage dnnFormError\">' + $(_obj).next('input.ValidationMessageFor[type="hidden"]').val() + '</span>');
                        } else {
                            $(_obj).next().show();
                        }
                    }
                });
                if (isValid)
                    $(this).unbind('submit').submit();
            });
        });
        $(function () {
            $('.textboxdatetime').each(function (_index, _obj) {
                $(_obj).datetimepicker({ timepicker: true, format: 'd/m/Y H:i', lang: 'fr' });
            });
        });
    }(jQuery, window.Sys));        

</script>